@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #f3eae5;
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}


a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__back {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__btns {
  display: none;
}

body {
    font-family: Arial, sans-serif;
    background-color:var(--white);
}

.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
    background-color: var(--white);
    text-align: center;
    justify-content: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: var(--text-dark);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #4b2e1d;
}

p {
    margin-bottom: 20px;
}