
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"/>
    <link rel="stylesheet" href="/static/stepburner.css"/>
    <title>MMU E-CAL | Step Burner</title>
  </head>


 

  <body>
   
    {% set recent_date = activity_grouped|dictsort|last %}
{% set activities = activity_grouped[recent_date] %}

<h2> {{ recent_date }}</h2>
    

      <h3>You have consumed : <strong>{{ total_calories_consumed[recent_date]}} kcal </strong></h3>
      <h4>To Burn {{ total_calories_consumed[recent_date]}} kcal, you can: </h4>

      {% for activity in activities %}
        {% endfor %}


    

  </body>
</html>