<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/cart.css">
</head>
<body>
    {% if cart %}
    <div class="container cart-container">
        <a href="/foodorder" class="btn btn-secondary mt-3 ml-3"><img src="/static/images/arrow-go-back-fill.png"></a>
        <h1 class="text-center mb-5">Shopping Cart</h1>
        <div class="row">
            <div class="col-md-8">
                {% for product in cart %}
                <div class="card mb-3">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="{{ product.product.product_picture }}" class="card-img" alt="Product Image">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{ product.product.product_name }}</h3>
                                <p class="card-text">Price      :<strong> RM {{ product.product.product_price }}</strong></p>
                                <p class="card-text">Calories   :<strong> {{ product.product.product_calorie }} kcal </strong></p>
                                <div class="quantity">
                                    <a href="/remove-cart-product/{{ product.product.id }}" class="btn btn-sm btn-primary increase-quantity" type="button">-</a>
                                    <span class="quantity-value">{{ product.quantity }}</span>
                                    <a href="/cart/{{ product.product.id }}" class="btn btn-sm btn-primary increase-quantity" type="button">+</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cart Summary</h5>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Calories : <strong>{{ total_calories }} kcal </strong> 
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                Total Price    : <strong> RM {{ total_price }} </strong>
                        </ul>
                        <a href="/place-order" class="btn btn-primary btn-block mt-3">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="text-center mb-5">Your Cart is Empty</h1>
    <a href="/foodorder" class="btn btn-secondary mt-3 ml-3"><img src="/static/images/arrow-go-back-fill.png"></a>
    {% endif %}
</body>
</html>

