
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style_exercise.css">
        <title>MMU E-CAL | EXERCISE</title>
    </head>

    <body>
        <h2>Sample Exercise</h2>
        <p>Exercise that could be chosen based on personnel preference.</p>

        <div class="ex-container">

            <div class="ex-card" >
                <h2 class="ex-title">Simple Exercise</h2>
                <p class="ex-description">Exercise that could be done easily, indoor and multiple times</p>
                <img src="/static/images/plank.jpg" alt="Plank" class="ex-image"/>
                <p class="ex-description">1 minutes of plank will burn about 3 to 4 calories</p>
                <img src="/static/images/pilates.jpg" alt="Pilates" class="ex-image"/>
                <p class="ex-description">20 minutes session of pilates will burn 83 to 150 calories</p>
                <img src="/static/images/Pushups.jpg" alt="Push ups" class="ex-image"/>
                <p class="ex-description">10 push up will burn on average 3.2 calories</p>
                <img src="/static/images/squat.jpg" alt="Squat" class="ex-image"/>
                <p class="ex-description">20 squats will burn on average 6.4 calories</p>
            </div>

            <div class="ex-card" >
                <h2 class="ex-title">Outdoor exercise</h2>
                <p class="ex-description">Need to allocate times for it</p>
                <img src="/static/images/hiking.jpg" alt="Hiking" class="ex-image"/>
                <p class="ex-description">Depends on the person the calories burn will be varied usually around 400 to 600 calories</p>
                <img src="/static/images/jogging.jpg" alt="Jogging" class="ex-image"/>
                <p class="ex-description">1 km of jogging will burn about 60 calries</p>
                <img src="/static/images/biking.jpg" alt="Biking" class="ex-image"/>
                <p class="ex-description">Every hour of biking will usually burn around 300 to 600 calories</p>
                <img src="/static/images/outdoor circuit.jpg" alt="Outside-circuit" class="ex-image"/>
                <p class="ex-description">Depends on the person a general outdoor circuit will burn around 240 to 360 calories</p>
            </div>

            <div class="ex-card" >
                <h2 class="ex-title">Heavy Exercise</h2>
                <p class="ex-description">Need to have gym equipment or go to the gym</p>
                <img src="/static/images/bench press.jpg" alt="Bench-press" class="ex-image"/>
                <p class="ex-description">Depending on the amount of reps and the weight used usually from 180 to 540 calories</p>
                <img src="/static/images/curl bar.jpg" alt="Curl-bar" class="ex-image"/>
                <p class="ex-description">Depending on the amount of reps and the weight usually from 110 to 440 calories</p>
                <img src="/static/images/pull-down.jpg" alt="Pull-down" class="ex-image"/>
                <p class="ex-description">Depending on the amount of reps and the weight usually from 100 to 400 calories</p>
                <img src="/static/images/seated-leg-press.jpg" alt="Seated-leg-press" class="ex-image"/>
                <p class="ex-description">Depending on the amount of reps and the weight usually from 75 to 300 calories</p>
            </div>

        </div>
    </body>

</html>