<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/style_home.css" />
    <title>MMU E-CAL | HOME</title>
  </head>
  <body>
    <nav>
      <div class="nav__header">
        <div class="nav__logo">
          <a href="#">MMU E-CAL</a>
        </div>
        <div class="nav__menu__btn" id="menu-btn">
          <i class="ri-menu-line"></i>
        </div>
      </div>
      <ul class="nav__links" id="nav-links">
        <li><a href="#">HOME</a></li>
        <li><a href="#">FOOD MENU</a></li>
        <li><a href="#">STEP COUNTER</a></li>
      </ul>
      <div class="nav__btns">
        <a href="/userauth"><button class="btn" ><i class="ri-contract-right-line"></i></button></a>
      </div>
    </nav>
    <div class="container">
      <div class="container__left">
        <h1>All You Need</h1>
        <div class="container__btn">
          <a href="/userauth"><button class="btn">JOIN US NOW</button></a>
        </div>
      </div>
      <div class="container__right">
        <div class="images">
          <img src="/static/images/food1.jpg" alt="tent-1" class="food-1" />
          <img src="/static/images/food2.jpg" alt="tent-2" class="food-2" />
        </div>
        <div class="content">
          <h4>Great Food | Great Life</h4>
          <h2>Track Your Food</h2>
          <h3>Turnover For A Better Life</h3>
          <p>
            "Choosing healthy foods fuels your body and mind, leading to better energy, focus, and overall well-being. Make wholesome choices that nourish you from the inside out!"
          </p>
        </div>
      </div>
      <script src="https://unpkg.com/scrollreveal"></script>
      <script src="/static/mainjs.js"></script>
    </body>
  </html>