<!DOCTYPE html>
<html>

<table class="listfoodtabletable">
    <thead>
        <tr>
            <th scope="'col">ID</th>
            <th scope="'col">Food</th>
            <th scope="'col">Price</th>
            <th scope="'col">Stock</th>
            <th scope="'col">Date Added</th>
            <th scope="'col">Picture</th>
            <th scope="'col">Action</th>
        </tr>
    </thead>

    <tbody>
        {% for food in foods %}

        <tr>
            <th scope="row">{{ food.id }}</th>
            <td> {{ food.product_name }}</td>
            <td> {{ food.product_price }}</td>
            <td> {{ food.in_stock }}</td>
            <td> {{ food.date_added }}</td>
            <td> <img src="{{ food.product_picture }}" alt="" style= "height: 50px; width: 50px; border: 2px;"></td>

            <td>
                <a href="/update-product/{{ food.id }}">Update</a>
                <br>
                <a href="/remove-product/{{ food.id }}">Delete</a>
            </td>
    
        </tr>      
        
    
        {% endfor %}
    </tbody>


</table>
</html>