<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/style_profile.css">
</head>
<body>


      
    

   <div class="container">
    <div class="profile-box">
        <a href="/home"><img src="/static/images/profile-menu.png" class="menu-icon"></a>
        <a href="/update-profile/{{ user.id }}"><img src="/static/images/settings-fill.png" class="setting-icon"></a>
        <a href="/history"><img class="receipt-icon" src="/static/images/receipt.png"></a>
        <a href="/activity_log"><img class="history-icon" src="/static/images/history-line.png"></a>
        <img src="/static/images/profile-pic.png" class="profile-pic">
        <h3> {{ user.student_id }} </h3>
        <h3> {{ user.username }} </h3>
        <div class="profile-buttom">
              <p>Age : <strong> {{ user.age }} </strong></p>
              <p>Weight : <strong>{{ user.weight }} Kg </strong></p>
              <p>Height : <strong>{{ user.height }} cm </strong></p>
              <p>Gender : <strong> {{ user.gender }} </strong></p>
              <p>Activity Level : <strong> {{ user.activity_level }} </strong> </p>

              <br>
              
              <p>You're At <strong>{{ total_steps_accumulated[current_date.strftime("%Y/%m/%d")] }}</strong> / 10000 steps</p>
       
              <br>
              <p>To Maintain <strong>{{ user.weight }} Kg</strong>,</p> 
   
            {% set bmr = 0 %}
            {% if user.gender == 'Male' %}
                {% set bmr = (10 * user.weight) + (6.25 * user.height) - (5 * user.age) + 5 %}
            {% else %}
                {% set bmr = (10 * user.weight) + (6.25 * user.height) - (5 * user.age) - 161 %}
            {% endif %}
            {% set activity_multiplier = {'Sedentary': 1.2, 'Lightly Active': 1.375, 'Moderately Active': 1.55, 'Very Active': 1.725} %}
            {% set activity_factor = activity_multiplier[user.activity_level] %}
            {% set daily_calories = bmr * activity_factor %}

            <p>You should eat <strong>{{ daily_calories|int }}</strong> calories per day.</p>

        </div>
    </div>
   </div>

   




</html>