<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/style_profile.css">
</head>
<body>


      
    

   <div class="container">
    <div class="profile-box">
        <a href="/profile"><img src="/static/images/profile-menu.png" class="menu-icon"></a>
        <a href="/change-password/{{ user.id }}"><img src="/static/images/key-fill.png" class="setting-icon"></a>
        <img src="/static/images/profile-pic.png" class="profile-pic">
        <h3> {{ user.student_id }} </h3>
        <p> {{ user.username }} </p>

            <form action="" method="POST" enctype="multipart/form-data">
                   {{ form.hidden_tag() }}
                   <tr>
                           <td>{{ form.username }}</td>
                           <td>{{ form.age }}</td>
                           <td>{{ form.height }}</td>
                           <td>{{ form.weight }}</td>
                           <td>{{ form.gender }}</td>
                           <td>{{ form.activity_level }}</td>
                           <td>{{ form.update_profile }}</td>

                    </tr>
            </form>
                
       